* {
  box-sizing: border-box;
}

.rounded-8px {
  border-radius: 8px;
}

.d-flex {
  display:flex;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}
.justify-content-end {
  justify-content: end;
}

.w-100 {
  width: 100%;
}

.container {
  width: 1075px;
  height: 900px;
  margin: 30px auto;
  justify-content: space-evenly;
  .box {
    background-color: #d0e2ff;
    width: 234px;
    height: 266px;
    border: 2px solid #b6d4fd;
    padding: 30px;
    .box-child {
      width: 90px;
      height: 90px;
      background-color: #777777;
    }
  }
}
