* {
    box-sizing: border-box;
}
/* Container */
.container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 24px auto 0 auto;
    width: 1296px;
}

/* Header */
.header {
    background: #dddddd;
}

.header li {
    /* top:20 right:17 bottom:17 left:17  */
     /*padding : top:  left-16px-top */ 
    padding: 12px 17px 14px 17px;
    list-style-type: none;
    float: left;
    border-right: 1px solid #CCC
}

.header::after {
    content: "";
    display: block;
    clear: both;
}

/* Content */
.content {
    margin-top: 24px;
}

.content .img {
    width: 253px;
    height: 168px;
}

.content .img-1 {
    float: left;
    margin-right: 26px;
}

.content p {
    text-align: justify;
    line-height: 23px;
}

.content .paragraph-2 {
    margin-top: 23px;
}

.content .img-2 {
    margin-left: 26px;
    margin-top: 30px;
    float: right;
}

/* List */

.list .title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 9px;
}


/* Card Group */
.list .card-group {
    margin-left: -10px;
    margin-right: -10px;
}

.list .card-group .card {
    float: left;
    border: 1px solid #DEE2E6;
    width: 23.6%;
    height: 245px;
    margin-right: 9px;
    margin-left: 9px;
}

/* Inner */

.list .inner {
    position: relative;
}

.list .inner h1 {
    font-size: 22px;
    margin-left: 19px;
    margin-bottom: 6.74px;
}

.list .inner p {
    margin-left: 19px;
    line-height: 23px;
}

.list .inner button {
    position: absolute;
    width: 100%;
    border: none;
    background-color: #166EFD;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    top:186px
    
}

/* Clearfix */
.clearfix {
    content: "";
    display: block;
    clear: both;
}