$desktop_resolution: 768px;

.div-1 {
    width: 100%;
    height: 100%;
    &::before {
        content: "Mobile";
        background: radial-gradient(circle, rgba(255, 255, 0, .6), rgba(255, 255, 0, .3));

        @media (min-width: $desktop_resolution) {
            content: "Desktop";
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(4, 3, 66, 1) 0%, rgba(9, 9, 121, 1) 16%, rgba(4, 123, 197, 1) 54%, rgba(0, 212, 255, 1) 78%);
        }
    }


}