* {
    box-sizing: border-box;
}

.container {
    width: 1295px;
    margin: auto;
}

.area {
    border-radius: 6px;
    border: 1px solid #B6D4FE;
    background-color: #D0E3FF;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.float-left {
    float: left;
}

.mt-20px {
    margin-top: 20px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #767677;
    border-radius: 6px;
}

.block-group {
    width: 212px;
    background-color: aqua;
    margin: auto;
}


.block2 {
    margin: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}