* {
    box-sizing: border-box;
}

.container {
    width: 795px;
    margin: auto;
}

.area-background-border {
    border-radius: 6px;
    border: 1px solid #B6D4FE;
    background-color: #D0E3FF;
}

.relative {
    position: relative;
}

.area {
    height: 100px;
}

.float-left {
    float: left;
}

.mt-20px {
    margin-top: 20px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #767677;
    border-radius: 6px;
}

.block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.block2 {
    margin: 10px;
}

.area-3 {
    height: 175px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}