@font-face {
    font-family: FiraSan;
    src: url(./assets/Font/FiraSans-Bold.ttf)
}

.container {
    .title  {
        color: red;
    }
    .content-1 {
        font-weight: 800;
        font-family: 'Dancing Script', cursive;
    }
    .content-2 {
        font-family: FiraSan;
    }



}