* {
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

@media screen and (max-width:1920px)  {
    .container {
        max-width: 1296px;
        margin-top:25px;
        margin: auto;
    }
    .banner {
        background-color: aqua;
        height: 400px;
        background-image: url(./assets/Images/banner.png);
        background-position: center center;
    }
    .heading {
        background-color: red;
        h1{
            text-align: center;
        }
    }
    .content {
        .text {
            float:left;
            height: 400px;
            width: 76%;
        }
        p{
            margin-top:0px
        }
        .sidebar {
            float:right;
            height: 400px;
            width: 24%;
            .gallery {
                img {
                    width: 100%;
                }
            }
            .form {
                input, textarea {
                    width: 100%;
                }
            }
        }
    }
    

}

