.m-auto {
  margin: auto;
}

.mt-25px {
  margin-top: 25px;
}

@font-face {
  font-family: BadScript;
  src: url(./assets/Fonts/BadScript-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./assets/Fonts/Roboto-Medium.ttf);
}
.min-width-div {
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .img-right {
    margin-left: 13px;
  }
}

.container {
  width: 477px;
  margin-top: 26px;
}
.container .banner {
  height: 191px;
}
.container .banner img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
}
.container .heading {
  margin-top: 2px;
}
.container .heading .title {
  width: fit-content;
  font-family: Roboto;
  font-size: medium;
}
.container .content {
  margin-top: 48px;
}
.container .content .left {
  margin-right: 26px;
}
.container .content .left .content-1 {
  font-family: BadScript;
  font-size: x-large;
  line-height: 36px;
  font-style: italic;
  margin-top: -23px;
}
.container .content .left .content-2 {
  font-family: Roboto;
  line-height: 26px;
}
.container .content .right {
  margin-top: -6px;
}
.container .content .right img {
  border-radius: 5px;
  height: 153px;
}
.container .content .right form {
  margin-top: 16px;
  font-family: Roboto;
}
.container .content .right form textarea {
  height: 152px;
}
.container .content .right form .input-1 {
  margin-top: 10px;
  margin-bottom: 19px;
  padding: 7px;
  font-size: 15px;
  border: 1px solid;
  border-color: #D0D6DB;
  border-radius: 4px;
}
.container .content .right form .input-2 {
  margin-top: 11px;
  border: 1px solid;
  border-color: #D0D6DB;
}
.container .content .right form .input-3 {
  margin-top: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6C757D;
  color: white;
  font-family: Roboto;
  font-size: medium;
  border: 1px solid #6C757D;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 696px;
    margin-top: 26px;
  }
  .container .banner {
    height: 280px;
  }
  .container .heading {
    margin: 20px auto 27px;
  }
  .container .heading .title {
    width: fit-content;
    font-family: Roboto;
    font-size: medium;
  }
  .container .content {
    margin-top: 40px;
  }
  .container .content .left {
    float: left;
    width: 450px;
    height: 1109px;
    margin-right: 26px;
  }
  .container .content .left .content-1 {
    font-family: BadScript;
    font-size: x-large;
    line-height: 36px;
    font-style: italic;
    margin-top: -31px;
  }
  .container .content .left .content-2 {
    font-family: Roboto;
    line-height: 26px;
  }
  .container .content .right {
    float: left;
    width: 218px;
    height: 909px;
  }
  .container .content .right img {
    border-radius: 5px;
    height: 145px;
  }
  .container .content .right .img-right {
    margin-top: 15px;
  }
  .container .content .right form {
    margin-top: 16px;
    font-family: Roboto;
  }
  .container .content .right form textarea {
    height: 152px;
  }
  .container .content .right form .input-1 {
    margin-top: 10px;
    margin-bottom: 19px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid;
    border-color: #D0D6DB;
    border-radius: 4px;
  }
  .container .content .right form .input-2 {
    margin-top: 11px;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .content .right form .input-3 {
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6C757D;
    color: white;
    font-family: Roboto;
    font-size: medium;
    border: 1px solid #6C757D;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1308px) {
  .container {
    width: 1297px;
    margin-top: 26px;
  }
  .container .banner {
    height: 521px;
  }
  .container .heading {
    margin: 20px auto 27px;
  }
  .container .heading .title {
    width: fit-content;
    font-family: Roboto;
    font-size: medium;
  }
  .container .content .left {
    float: left;
    width: 964px;
    height: 1109px;
    margin-right: 23px;
  }
  .container .content .left .content-1 {
    font-family: BadScript;
    font-size: x-large;
    line-height: 36px;
    font-style: italic;
    margin-top: -39px;
  }
  .container .content .left .content-2 {
    font-family: Roboto;
    line-height: 26px;
  }
  .container .content .right {
    margin-top: 10px;
    float: left;
    width: 306px;
    height: 909px;
  }
  .container .content .right img {
    border-radius: 5px;
    height: 203px;
  }
  .container .content .right form {
    margin-top: 16px;
    font-family: Roboto;
  }
  .container .content .right form textarea {
    height: 160px;
  }
  .container .content .right form .input-1 {
    margin-top: 10px;
    margin-bottom: 19px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid;
    border-color: #D0D6DB;
    border-radius: 4px;
  }
  .container .content .right form .input-2 {
    margin-top: 11px;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .content .right form .input-3 {
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6C757D;
    color: white;
    font-family: Roboto;
    font-size: medium;
    border: 1px solid #6C757D;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
