@font-face {
  font-family: BadScript;
  src: url(./assets/Fonts/BadScript-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./assets/Fonts/Roboto-Medium.ttf);
}
.mt-auto {
  margin: auto;
}

.mt-20px {
  margin-top: 25px;
}

.mt-15px {
  margin-top: 15px;
}

.container .div-1 {
  width: 477px;
  height: 191px;
}
.container .div-1 img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
}
.container .div-2 {
  width: 477px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}
.container .div-2 .title {
  width: fit-content;
  margin: auto;
  font-family: Roboto;
  font-size: medium;
}
.container .div-3 {
  width: 477px;
  margin-top: 48px;
}
.container .div-3 .div-left {
  width: 477px;
  margin-right: 26px;
}
.container .div-3 .div-left .content-1 {
  font-family: BadScript;
  font-size: x-large;
  line-height: 36px;
  font-style: italic;
  margin-top: -23px;
}
.container .div-3 .div-left .content-2 {
  font-family: Roboto;
  line-height: 26px;
}
.container .div-3 .div-right {
  width: 477px;
  margin-top: -16px;
}
.container .div-3 .div-right img {
  border-radius: 5px;
  height: 153px;
}
.container .div-3 .div-right img:nth-child(2) {
  margin-left: 12px;
}
.container .div-3 .div-right form {
  margin-top: 16px;
  font-family: Roboto;
}
.container .div-3 .div-right form textarea {
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;
  height: 152px;
}
.container .div-3 .div-right form .input-1 {
  margin-top: 10px;
  margin-bottom: 19px;
  padding: 7px;
  font-size: 15px;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;
  border: 1px solid;
  border-color: #D0D6DB;
  border-radius: 4px;
}
.container .div-3 .div-right form .input-2 {
  margin-top: 11px;
  border: 1px solid;
  border-color: #D0D6DB;
  border-radius: 4px;
}
.container .div-3 .div-right form .input-3 {
  margin-top: 12px;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6C757D;
  color: white;
  font-family: Roboto;
  font-size: medium;
  border: 1px solid #6C757D;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .container .div-1 {
    width: 696px;
    height: 280px;
  }
  .container .div-2 {
    width: 696px;
    margin: 20px auto 27px;
  }
  .container .div-2 .title {
    width: fit-content;
    margin: auto;
    font-family: Roboto;
    font-size: larger;
  }
  .container .div-3 {
    width: 696px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }
  .container .div-3 .div-left {
    float: left;
    width: 450px;
    height: 1109px;
    margin-right: 26px;
  }
  .container .div-3 .div-left .content-1 {
    font-family: BadScript;
    font-size: x-large;
    line-height: 36px;
    font-style: italic;
    margin-top: -23px;
  }
  .container .div-3 .div-left .content-2 {
    font-family: Roboto;
    line-height: 26px;
  }
  .container .div-3 .div-right {
    float: left;
    width: 218px;
    height: 909px;
  }
  .container .div-3 .div-right img {
    border-radius: 5px;
    height: 145px;
  }
  .container .div-3 .div-right form {
    margin-top: 16px;
    font-family: Roboto;
  }
  .container .div-3 .div-right form textarea {
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    height: 152px;
  }
  .container .div-3 .div-right form .input-1 {
    margin-top: 15px;
    margin-bottom: 18px;
    padding: 7px;
    font-size: 15px;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .div-3 .div-right form .input-2 {
    margin-top: 11px;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .div-3 .div-right form .input-3 {
    margin-top: 12px;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6C757D;
    color: white;
    font-family: Roboto;
    font-size: medium;
    border: 1px solid #6C757D;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .container .div-1 {
    width: 1297px;
    height: 521px;
  }
  .container .div-2 {
    width: 1297px;
    margin: 20px auto 27px;
  }
  .container .div-2 .title {
    width: fit-content;
    margin: auto;
    font-family: Roboto;
    font-size: larger;
  }
  .container .div-3 {
    width: 1297px;
  }
  .container .div-3 .div-left {
    width: 964px;
    height: 1109px;
    margin-right: 23px;
  }
  .container .div-3 .div-left .content-1 {
    font-family: BadScript;
    font-size: x-large;
    line-height: 36px;
    font-style: italic;
    margin-top: -23px;
  }
  .container .div-3 .div-left .content-2 {
    font-family: Roboto;
    line-height: 26px;
  }
  .container .div-3 .div-right {
    width: 306px;
    height: 909px;
  }
  .container .div-3 .div-right img {
    border-radius: 5px;
    height: 203px;
  }
  .container .div-3 .div-right form {
    margin-top: 15px;
    font-family: Roboto;
  }
  .container .div-3 .div-right form textarea {
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    height: 160px;
  }
  .container .div-3 .div-right form .input-1 {
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 7px;
    font-size: 15px;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .div-3 .div-right form .input-2 {
    margin-top: 17px;
    border: 1px solid;
    border-color: #D0D6DB;
  }
  .container .div-3 .div-right form .input-3 {
    margin-top: 17px;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6C757D;
    color: white;
    font-family: Roboto;
    font-size: medium;
    border: 1px solid #6C757D;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
